@define-color tokyonight-bg #1a1b26;
@define-color tokyonight-border #565f89;
@define-color tokyonight-active-bg #414868;
@define-color tokyonight-text #c0caf5;
@define-color tokyonight-muted #a9b1d6;
@define-color tokyonight-critical-bg #f7768e;
@define-color tokyonight-battery-charging #73daca;
@define-color tokyonight-battery-warning #e0af68;
@define-color tokyonight-highlight #7dcfff;
@define-color arch-linux-color #1793d1;

* {
    border: none;
    border-radius: 20px;
    font-family: "CodeNewRoman Nerd Font";
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* .modules-left {} */

#custom-launcher {
    font-size: 28px;
    margin-right: 8px;
    color: @arch-linux-color;
    text-shadow:
        1px 1px 2px rgba(37, 37, 45, 0.7);
    /*-1px -1px 2px rgba(37, 37, 45, 0.7); */
}

#workspaces {
    margin-left: 8px;
    border-radius: 20px;
    transition: none;
    background: @tokyonight-bg;
    border: 1px solid @tokyonight-border;
}

#workspaces button {
    transition: none;
    color: @tokyonight-muted;
    background: transparent;
    font-size: 18px;
}

#workspaces button.persistent {
    color: @tokyonight-muted;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: @tokyonight-bg;
    background: @tokyonight-muted;
}

#workspaces button.active {
    background: @tokyonight-active-bg;
    color: @tokyonight-text;
}

.modules-center {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    transition: none;
    color: @tokyonight-text;
    background: @tokyonight-bg;
    border: 1px solid @tokyonight-border;
    /* Added border */
}

#custom-notif {
    padding-right: 12px;
}

.modules-right {
    border-radius: 20px;
    transition: none;
    color: @tokyonight-text;
    background: @tokyonight-bg;
    border: 1px solid @tokyonight-border;
    /* Added border */
}

#pulseaudio {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
    background-color: @tokyonight-muted;
    color: @tokyonight-bg ;
}

#custom-mem {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

#cpu {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

#temperature {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

#temperature.critical {
    color: @tokyonight-bg;
    background-color: @tokyonight-critical-bg;
}

#backlight {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

#battery {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

#battery.charging {
    color: @tokyonight-bg;
    background-color: @tokyonight-battery-charging;
}

#battery.warning:not(.charging) {
    background-color: @tokyonight-battery-warning;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: @tokyonight-critical-bg;
    color: @tokyonight-text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    transition: none;
    color: @tokyonight-text;
    background: @tokyonight-bg;
}

menu {
    background: @tokyonight-bg;
}

menuitem {
    border-radius: 16px;
    color: @tokyonight-text;
}

menuitem:hover {
    background: @tokyonight-active-bg;
}

@keyframes blink {
    to {
        background-color: @tokyonight-text;
        color: @tokyonight-bg;
    }
}
