[Unit]
Description=KMonad Keyboard Remapper
Documentation=https://github.com/kmonad/kmonad
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/kmonad /home/neo/.config/kmonad/config.kbd
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
